{% extends 'base.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body %}
    <main class="search-recette">
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 recettes">
            {% for recette in recettes %}
                <div class="col col-recette mb-5">
                    {% include '_include/_card_recette.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
