{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <main class="loginForm">
        <h1>Se connecter</h1>
        <form action="{{ path('app_login') }}" method="post" class="mx-auto mt-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}">
                <label for="username">Email:</label>
            </div>

            <div class="form-floating mt-4">
                <input type="password" class="form-control" id="password" name="_password">
                <label for="password">Password:</label>
            </div>
            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"> #}
            {% if error %}
                <div class="mt-1">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <button class="btn btn-primary mt-3 mb-2" type="submit">login</button>

            <p>Pas encore enregistré ? créer un compte <a href="{{ path('app_register') }}"> ici</a></p>
        </form>
    </main>
{% endblock %}
