<nav class="navbar bg-primary fixed-top">
    <div class="d-flex">
        <div class="container-fluid d-flex">
            <button class="border-0 navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <a href="/" class="site-name-a"><h1 class="fs-2 text-white site-name">MarmiWild</h1></a>
    </div>

    <div class="navPannel offcanvas offcanvas-start bg-primary text-light text-uppercase shadow-sm"
         data-bs-scroll="true"
         data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close close-cross ms-auto mt-2 me-2" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li>
                    <p>test1</p>
                </li>
                <li>
                    <p>test2</p>
                </li>
            </ul>
        </div>
    </div>

</nav>