<div class="searchBar container mt-4">
{{ form_start(form) }}
    <div class="form-floating">
        {{ form_widget(form.searchQuery) }}
        {{ form_label(form.searchQuery) }}
    </div>

    <div class="d-flex justify-content-center mt-3 mb-5"><button class="btn btn-primary" type="submit">C'est parti !</button></div>
    {{ form_end(form) }}
</div>