.navbar-spacing{
  height: 58px;
}

.navbar{
  .site-name-a{
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .site-name{
    margin: 0;
  }
  .connexion{
    text-decoration: none;
  }
  @include media-breakpoint-down(lg) {
    .site-name-a{
      left: 36%;
    }
    .userEmail{
      display: none;
    }
  }
  @include media-breakpoint-up(lg) {
    .navbar-email{
      display: none;
    }
  }
}