@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$font-family-base:'Montserrat', sans-serif;
$primary: #583c23;
$light: #FFFAFA;

$offcanvas-horizontal-width: 225px